/* 기본 스타일 */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* 다크 모드 스타일 */
body.dark-mode {
  background-color: #333; /* 어두운 배경색 */
  color: #fff; /* 다크 모드 텍스트 색상 */
}

/* 라이트 모드 스타일 */
body.light-mode {
  background-color: #fff; /* 밝은 배경색 */
  color: #000; /* 라이트 모드 텍스트 색상 */
}

/* 토글 버튼 스타일 */
.toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; /* 다른 요소들보다 위에 표시되도록 설정 */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff; /* 파란색 배경 */
  color: #fff; /* 흰색 글자색 */
  cursor: pointer;
  display: inline-block; /* inline-block으로 설정 */
}

/* 토글 버튼 호버 효과 */
.toggle-button:hover {
  background-color: #0056b3; /* 짙은 파란색 배경 */
}

/* 로고 이미지 스타일 */
.logo-image {
  display: block;
  margin: 20px auto;
}

/* 메인 콘텐츠 스타일 */
.main-content {
  margin-left: 200px; /* 사이드바 너비만큼 왼쪽 마진 추가 */
  padding: 20px;
}

/* 그리드 컨테이너 스타일 추가 */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

/* 카드 컨테이너 스타일 */
.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
  justify-content: space-around; /* Adjust alignment as needed */
  margin-top: 20px;
}

/* 카드 컴포넌트 스타일 */
.ant-card {
  margin-bottom: 20px; /* Adjust spacing between cards */
}